<div
  id="section"
  class="d-flex justify-content-center align-items-center"
  style="height: 100vh; background-color: #f8f9fa; font-family: 'Helvetica Neue', Arial, sans-serif"
>
  <!-- Contenedor blanco -->
  <div
    class="p-5 shadow rounded"
    style="background-color: #ffffff; text-align: center; max-width: 900px; width: 90%"
  >
    <!-- Nombre del usuario -->
    <h2 *ngIf="consumo" style="font-weight: 600; font-size: 2rem; color: #212529">
      {{ consumo.datos.nombre }}
    </h2>

    <!-- Datos del usuario -->
    <div *ngIf="consumo" class="mt-3" style="color: #495057">
      <p class="m-0"><strong>Cédula:</strong> {{ consumo.datos.cedula }}</p>
      <p class="m-0"><strong>Teléfono:</strong> {{ consumo.datos.telefono }}</p>
    </div>

    <!-- Sección de consumo -->
    <div *ngIf="consumo" class="row mt-1 justify-content-center w-100 g-4 gap-5">
      <!-- Saldo -->
      <div class="col-6 col-md-3 p-0 d-flex justify-content-center">
        <div
          class="d-flex flex-column justify-content-center align-items-center shadow-sm"
          style="
            border-radius: 50%;
            width: 200px;
            height: 200px;
            aspect-ratio: 1/1;
            background-color: #e9ecef;
            color: #212529;
          "
        >
          <h5 style="font-weight: 500; margin-bottom: 1rem">Saldo</h5>
          <p class="fs-3 mb-0">${{ consumo.consumo.saldo }}</p>
        </div>
      </div>

      <!-- Datos -->
      <div class="col-6 col-md-3 p-0 d-flex justify-content-center">
        <div
          class="d-flex flex-column justify-content-center align-items-center shadow-sm"
          style="
            border-radius: 50%;
            width: 200px;
            height: 200px;
            aspect-ratio: 1/1;
            background-color: #e9ecef;
            color: #212529;
          "
        >
          <h5 style="font-weight: 500; margin-bottom: 1rem">Datos</h5>
          <p class="fs-3 mb-0">{{ consumo.consumo.datos }} Mb</p>
        </div>
      </div>

      <!-- Minutos -->
      <div class="col-6 col-md-3 p-0 d-flex justify-content-center">
        <div
          class="d-flex flex-column justify-content-center align-items-center shadow-sm"
          style="
            border-radius: 50%;
            width: 200px;
            height: 200px;
            aspect-ratio: 1/1;
            background-color: #e9ecef;
            color: #212529;
          "
        >
          <h5 style="font-weight: 500; margin-bottom: 1rem">Minutos</h5>
          <p class="fs-3 mb-0">{{ consumo.consumo.minutos }} min</p>
        </div>
      </div>
    </div>
    <div class="mt-4">
      <button class="btn btn-danger" (click)="regresar()">← Regresar</button>
    </div>
  </div>
</div>
